@font-face {
  font-family: "iconfont"; /* Project id 4315575 */
  src: url('iconfont.woff2?t=1701941353009') format('woff2'),
       url('iconfont.woff?t=1701941353009') format('woff'),
       url('iconfont.ttf?t=1701941353009') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-shoucang:before {
  content: "\e8b9";
}

